<p id="notice"><%= notice %></p>

<h1>Listing Instants</h1>

<table>
  <thead>
    <tr>
      <th>Oid</th>
      <th>Follio</th>
      <th>Window hours</th>
      <th>Token code</th>
      <th>Date of confirmation</th>
      <th>Date of cancelation</th>
      <th>Device of cancelation</th>
      <th>Device of transaction</th>
      <th>Device of confirmation</th>
      <th>Confirmed</th>
      <th>Comment</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instants.each do |instant| %>
      <tr>
        <td><%= instant.Oid %></td>
        <td><%= instant.follio %></td>
        <td><%= instant.window_hours %></td>
        <td><%= instant.token_code %></td>
        <td><%= instant.date_of_confirmation %></td>
        <td><%= instant.date_of_cancelation %></td>
        <td><%= instant.device_of_cancelation %></td>
        <td><%= instant.device_of_transaction %></td>
        <td><%= instant.device_of_confirmation %></td>
        <td><%= instant.confirmed %></td>
        <td><%= instant.comment %></td>
        <td><%= instant.account %></td>
        <td><%= link_to 'Show', instant %></td>
        <td><%= link_to 'Edit', edit_instant_path(instant) %></td>
        <td><%= link_to 'Destroy', instant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instant', new_instant_path %>
