<p id="notice"><%= notice %></p>

<h1>Listing Vaults</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password token</th>
      <th>Balance</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaults.each do |vault| %>
      <tr>
        <td><%= vault.name %></td>
        <td><%= vault.password_token %></td>
        <td><%= vault.balance %></td>
        <td><%= vault.account %></td>
        <td><%= link_to 'Show', vault %></td>
        <td><%= link_to 'Edit', edit_vault_path(vault) %></td>
        <td><%= link_to 'Destroy', vault, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vault', new_vault_path %>
