<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vault.name %>
</p>

<p>
  <strong>Password token:</strong>
  <%= @vault.password_token %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @vault.balance %>
</p>

<p>
  <strong>Account:</strong>
  <%= @vault.account %>
</p>

<%= link_to 'Edit', edit_vault_path(@vault) %> |
<%= link_to 'Back', vaults_path %>
