<body class="nav-md">
<div class="container body">
  <div class="main_container">


    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">

        <div class="row">
          <div class="col-md-12">

                <div class="col-md-3">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Instant Transfers <small>Recent</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">August</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Instant M2,500 to Godwin Amagwu</a>
                      <p><a class = "fa fa-check text-success"></a>Sent - 23:50pm</p>
                      <p><a class = "fa fa-check text-success"></a>Received - Aug 24, 2018:02:10am</p>
                      <p><a class = "fa fa-times text-danger"></a>Unconfirmed</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">August</p>
                      <p class="day">12</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Instant M150,500 to John Okonga</a>
                      <p><a class = "fa fa-check text-success"></a>Sent - 08:20am</p>
                      <p><a class = "fa fa-check text-success"></a>Received - 08:22am</p>
                      <p><a class = "fa fa-check text-success"></a>Confirmed - 08:45am</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">August</p>
                      <p class="day">07</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Instant M18,000 to Donald Etete</a>
                      <p><a class = "fa fa-check text-success"></a>Sent - 08:20am</p>
                      <p><a class = "fa fa-check text-success"></a>Received - 08:22am</p>
                      <p><a class = "fa fa-times text-danger"></a>UnConfirmed</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">August</p>
                      <p class="day">01</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Instant M7,450 to Jumia Ltd</a>
                      <p><a class = "fa fa-check text-success"></a>Sent - 07:10am</p>
                      <p><a class = "fa fa-check text-success"></a>Received - Aug 01:07:15am</p>
                      <p><a class = "fa fa-check text-success"></a>Confirmed - Aug 01:08:25am</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

                <div class="col-md-3">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Smart Contracts <small>Recent</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <article class="media event">
                        <a class="pull-left date">
                          <p class="month">August</p>
                          <p class="day">24</p>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Contract M150,500 to John Okonga</a>
                          <p><a class = "fa fa-check text-success"></a>Frozen - 08:20am</p>
                          <p><a class = "fa fa-check text-success"></a>Reversed - Aug 26 - 08:22am</p>
                          <p><a class = "fa fa-check text-success"></a>Confirmed</p>
                        </div>
                      </article>
                      <article class="media event">
                        <a class="pull-left date">
                          <p class="month">August</p>
                          <p class="day">07</p>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Contract M18,000,000 to Donald Etete + 3</a>
                          <p><a class = "fa fa-check text-success"></a>Frozen - 04:23pm</p>
                          <p><a class = "fa fa-times text-danger"></a>Invoice (2/4) - Aog 10-06:00am</p>
                          <p><a class = "fa fa-times text-danger"></a>Paid (2/4) - Aog 10-16:00am</p>
                          <p><a class = "fa fa-times text-danger"></a>UnConfirmed</p>
                        </div>
                      </article>
                      <article class="media event">
                        <a class="pull-left date">
                          <p class="month">August</p>
                          <p class="day">01</p>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Instant M7,450 to Jumia Ltd</a>
                          <p><a class = "fa fa-check text-success"></a>Frozen - 07:10am</p>
                          <p><a class = "fa fa-check text-success"></a>Unfrozen - Aug 01:07:15am</p>
                          <p><a class = "fa fa-check text-success"></a>Confirmed - Aug 01:08:25am</p>
                        </div>
                      </article>

                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Business Payments<small>Recent</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <article class="media event">
                        <a class="pull-left date">
                          <p class="month">August</p>
                          <p class="day">24</p>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Contract M150,500 to John Okonga</a>
                          <p><a class = "fa fa-check text-success"></a>Sent at 08:20am</p>
                          <p><a class = "fa fa-check text-success"></a>Blocked at 08:22am</p>
                          <p><a class = "fa fa-times text-danger"></a>Pending</p>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Wallet Profiles</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><%= link_to "Manage All", user_account_wallets_path(current_user,current_user.account)%></a>
                            </li>
                            <li><a href="#"><%= link_to 'Add Wallet', new_user_account_wallet_path(current_user,current_user.account) %></a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <ul class="list-unstyled top_profiles scroll-view">
                      <li class="media event">
                        <a class="pull-left border-aero profile_thumb">
                          <i class="fa fa-user aero"></i>
                        </a>
                        <div class="media-body">

                          <% if current_user.last_name.nil? or  current_user.first_name.nil? %>
                              <a class="title" href="#"><%= "No names supplied"%></a>
                          <% else %>
                              <a class="title" href="#"><%= current_user.last_name + "," + current_user.first_name%></a>
                          <% end %>
                          <% if current_user.account.nil?%>
                              <p><strong>M<%= "0.00"%> </strong> Invalid Account </p>
                          <% else %>
                              <p><strong>M<%= current_user.account.total_balance%> </strong> Total wallet fund(s) </p>
                              <p><strong>M<%= current_user.account.blocked_balance%> </strong> Total Blocked funds </p>
                          <% end %>
                          <p> <small>4<%#= current_user.sign_in_count %> logins</small>
                          </p>
                        </div>
                      </li>
                      <% @account.wallets.each do |wallet| %>

                          <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                              <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                              <a class="title" href="#"><%= wallet.name %></a>
                              <p><strong>M<%= wallet.available_balance %>. </strong> Actual Free Balance </p>
                              <p> <small><%= wallet.usage_count %> Uses Todate</small>
                              </p>
                            </div>
                          </li>
                      <% end %>

                    </ul>
                  </div>
                </div>
              </div>

          </div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Transaction Summary <small>Weekly progress</small></h2>
                <div class="filter">
                  <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <div class="demo-container" style="height:280px">
                    <div id="chart_plot_02" class="demo-placeholder"></div>
                  </div>
                  <div class="tiles">
                    <div class="col-md-4 tile">
                      <span>Total Sessions</span>
                      <h2>231,809</h2>
                      <span class="sparkline11 graph" style="height: 160px;">
                               <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                          </span>
                    </div>
                    <div class="col-md-4 tile">
                      <span>Total Revenue</span>
                      <h2>$231,809</h2>
                      <span class="sparkline22 graph" style="height: 160px;">
                                <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                          </span>
                    </div>
                    <div class="col-md-4 tile">
                      <span>Total Sessions</span>
                      <h2>231,809</h2>
                      <span class="sparkline11 graph" style="height: 160px;">
                                 <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                          </span>
                    </div>
                  </div>

                </div>

                <div class="col-md-3 col-xs-12 widget widget_tally_box">
                  <div class="x_panel ui-ribbon-container fixed_height_390">
                    <div class="ui-ribbon-wrapper">
                      <div class="ui-ribbon">
                        50% off
                      </div>
                    </div>
                    <div class="x_title">
                      <h2>Business Mail</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div style="text-align: center; margin-bottom: 17px">
                              <span class="chart" data-percent="86">
                                                  <span class="percent"></span>
                              </span>
                      </div>

                      <h3 class="name_title">Finance</h3>
                      <p>Business subcriptions only</p>

                      <div class="divider"></div>

                      <p>Automatic tracking of account alerts, statements and messages between your business connections
                        are categorized here for easy veiwing and archival.</p>

                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
        </div>


      </div>
      </div>
      </div>

    <!-- /page content -->

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="../vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="../vendors/DateJS/build/date.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>
</body>
